*{
	margin:0;
	padding: 0;
}
ol,ul{
	list-style-type: none;
}
a{
	color:#666;
	text-decoration:none;
}
.left{
	float:left;
}
.right{
	float:right;
}
body{
	font-family: 方正舒体;
	background-color: #F0F8FF; 
}
/*测试*/
.container{
	width: 1280px;
	margin: 0px auto;
}
/*设置页面头部样式	*/
#header{
	height: 20px;	
}
#header .container-left{
	color: #FF6633;
	font-size: 16px;
	float: left;
}
#header ul li{
	float: left;
}
#header li a{
	color: #B2B2B2;
	font-size: 16px;
	border-right: 1px solid #B2B2B2;
	padding: 0px 15px;
}
#header li :hover{
	color: #FF0000;
}
/*头部	*/
#top{
	height: 100px;
	background: white;
}
#top .logo img{
    height: 90px;
    width: 90px;
}
#top .logo{
	float: left;
}
#top ul li{
	padding: 0px 5px;
	float:left;
}
#top ul .l1{
	font-size: 20px;
	padding: 12px 5px;
}
#top ul .l2{
	font-size: 30px; 
}
#top .top-right{
padding-top: 25px;
}
#top .top-right .botton{
	background: #FF6600;
	width: 40px;
	height: 30px;
	border-color: #FF9966;
}
#top .top-right .sousuo{
	width: 200px;
	height: 29px;
	border: 1px solid #FF9966;
}
/*导航*/
#nav{
	height: 100px;
	border-bottom: 1px solid #999999;
}
#nav li{
	float: left;
	margin:0px 15px;
	line-height: 100px;
}
#nav li a{
	font-size: 35px;
	font-weight: bold;
	padding: 0px 10px;

}
#nav li a:hover{
	color:#CC9933;
}
/*关于我们*/
#about img{
	width: 100%;
	height:500px;
}
#about .container{
	background-color: white;

}
#about .atop{
text-align: center;
}
#about .atop img{
	width: 1000px;
	height: 300px;
}
#about .aleft img{
	width: 380px;
	height: 150px;
}
#about .pr{
	font-family: 宋体;
	font-size: 20px;
	color: #B2B2B2;
	padding: 50px;
}
#about .pr p{
	padding: 20px;
}